Hello, B!popper!<br/><br/>

{% if type == 'news' %}
  Une nouvelle news
{% endif %}
{% if type == 'music' %}
  Une nouvelle playlist
{% endif %}
est en ligne sur le site de B!pop ! Pour la voir, cliquez
{% if type == 'news' %}
  <a href="{{ url('news_index') }}">ici</a>
{% endif %}
{% if type == 'music' %}
  <a href="{{ url('media_index') }}">ici</a>
{% endif %}
!<br/>

A très bientôt sur le site,<br/>
B!pop
