Bienvenue chez B!pop !<br/><br/>

Nous vous enverrons un mail pour vous informer à chaque nouveauté dans les catégories suivantes:<br/>
{% if news %}
  - News<br/>
{% endif %}
{% if music %}
  - Musique<br/>
{% endif %}
{% if dates %}
  - Dates<br/>
{% endif %}
<br/>

<h5>Vous n'avez pas effectué cette demande? 
  Cliquez <a href="{{ url('subscription_delete', { 'id': id }) }}" >ici</a> pour annuler cet abonnement.</h5>

A bientôt!<br/>
B!pop
