{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  <table class="table">
  <tr>
    <th>Confirmation</th>
  </tr>
  <tr>
    <td>
      Votre adresse mail a bien été retirée de notre base de données.
    </td>
  </tr>
</table>
{% endblock %}
