{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  {% if app.user %}
    <div class="add_form">
      {{ render(controller('WebsiteBundle:Media:addScPlaylist', { 'request': app.request })) }}
    </div>
  {% endif %}

  <table class="table">
    <tr>
      <th>Playlists B!pop</th>
    </tr>
    {% for playlist in scPlaylists %}
      <tr>
        <td>
          {% if playlist.title %}
            <h4 class="article_title">{{ playlist.title }}</h4>
          {% endif %}
          {{ playlist.url | raw }}
        </td>
      </tr>
    {% else %}
      <tr>
        <td>
          Il n'y a aucune playlist pour le moment.
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
