{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  <h1>Dates</h1>

  <p class="panel panel-default">
    Ceci est une page de dates. Blablabla.
    Praesent varius odio sit amet lobortis consectetur. Duis semper a ex vitae eleifend. Aliquam ornare aliquet mi, sit amet commodo urna dapibus a. Praesent sed vulputate ligula, vel gravida tortor. Mauris placerat consequat urna, sit amet dapibus nulla aliquet in. Sed nec sapien sed turpis sodales porta et sodales quam. Mauris dapibus ipsum ex, nec ullamcorper nisi consectetur eu. Ut lobortis efficitur mauris, elementum mattis quam eleifend elementum. Nam eu tempor elit. Vivamus ut mi vitae mi porta ullamcorper non vitae ipsum. In hac habitasse platea dictumst.
  </p>
{% endblock %}
