<!DOCTYPE html>
<html>
  <head>
    {% stylesheets 'bundles/website/assets/css/*' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <title>B!pop</title>
  </head>
  <body class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% image 'bundles/website/assets/img/banniere.png' %}
        <img src="{{ asset_url }}" class="banniere" />
      {% endimage %}

      <div class="col-md-12" id="menu">
        {{ include("WebsiteBundle::menu.html.twig") }}
      </div>

      <div class="global-body col-md-12">
        <div class="body col-md-8">
          {% block body %}
          {% endblock %}
        </div>
        <div class="side_body col-md-4">
          {{ include("WebsiteBundle::side.html.twig") }}
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </body>
</html>
