<table class="table">
  <tr>
    <th>Suivez-nous</th>
  </tr>
  <tr>
    <td>
      <div class="col-md-12" style="margin-top: 2px; margin-bottom: 2px;">
        <div class="fb-like" data-href="https://www.facebook.com/B.popOfficial/" data-width="100px" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
      </div>

      <div class="col-md-12" style="margin-top: 2px;">
        <a class="twitter-follow-button"
            href="https://twitter.com/BpopBand"
            data-show-count="false"></a>
      </div>

      <div class="col-md-12">
        <div class="g-ytsubscribe" data-channelid="UC5ipK4LDLoNpDvgJglUOOkw" data-layout="default" data-theme="dark" data-count="default"></div>
      </div>
    </td>
  </tr>
</table>
