<div class="links">
  <div class="col-xs-3">
    <a target="_blank" href="https://www.facebook.com/B.popOfficial/" class="pictured_link">
      <img src="bundles/website/assets/img/facebook-icon-green.jpg" alt="Facebook" class="icon icon_bottom" style="height: 35px; width: 35px; padding: 5px;" />
      <img src="bundles/website/assets/img/facebook-icon.jpg" alt="Facebook" class="icon icon_top" style="height: 35px; width: 35px; padding: 5px;" />
    </a>
  </div>
  <div class="col-xs-3">
    <a target="_blank" href="https://twitter.com/BpopBand?lang=fr" class="pictured_link">
      <img src="bundles/website/assets/img/twitter-icon-green.png" alt="Twitter" class="icon icon_bottom" style="height: 35px; width: 35px; padding: 5px;" />
      <img src="bundles/website/assets/img/twitter-icon.png" alt="Twitter" class="icon icon_top" style="height: 35px; width: 35px; padding: 5px;" />
    </a>
  </div>
  <div class="col-xs-3">
    <a target="_blank" href="https://soundcloud.com/bpopofficial" class="pictured_link">
      <img src="bundles/website/assets/img/soundcloud-icon-green.png" alt="Soundcloud" class="icon icon_bottom" style="height: 35px; width: 35px; padding: 5px;" />
      <img src="bundles/website/assets/img/soundcloud-icon.png" alt="Soundcloud" class="icon icon_top" style="height: 35px; width: 35px; padding: 5px;" />
    </a>
  </div>
  <div class="col-xs-3">
    <a target="_blank" href="https://www.youtube.com/channel/UC5ipK4LDLoNpDvgJglUOOkw" class="pictured_link">
      <img src="bundles/website/assets/img/youtube-icon-green.jpg" alt="Youtube" class="icon icon_bottom" style="height: 35px; width: 35px; padding: 5px;" />
      <img src="bundles/website/assets/img/youtube-icon.jpg" alt="Youtube" class="icon icon_top" style="height: 35px; width: 35px; padding: 5px;" />
    </a>
  </div>
</div>
