<div class="links">
  <div class="col-md-3">
    {% image 'bundles/website/assets/img/facebook-icon.jpg' %}
      <a target="_blank" href="https://www.facebook.com/B.popOfficial/">
        <img src="{{ asset_url }}" alt="Facebook" class="icon" style="height: 40px; width: 40px; padding: 5px;" />
      </a>
    {% endimage %}
  </div>
  <div class="col-md-3">
    {% image 'bundles/website/assets/img/twitter-icon.png' %}
      <a target="_blank" href="https://twitter.com/BpopBand?lang=fr">
        <img src="{{ asset_url }}" alt="Twitter" class="icon" style="height: 40px; width: 40px; padding: 5px;" />
      </a>
    {% endimage %}
  </div>
  <div class="col-md-3">
    {% image 'bundles/website/assets/img/soundcloud-icon.png' %}
      <a target="_blank" href="https://soundcloud.com/bpopofficial">
        <img src="{{ asset_url }}" alt="Soundcloud" class="icon" style="height: 40px; width: 40px; padding: 5px;" />
      </a>
    {% endimage %}
  </div>
  <div class="col-md-3">
    {% image 'bundles/website/assets/img/youtube-icon.jpg' %}
      <a target="_blank" href="https://www.youtube.com/channel/UC5ipK4LDLoNpDvgJglUOOkw">
        <img src="{{ asset_url }}" alt="Youtube" class="icon" style="height: 40px; width: 40px; padding: 5px;" />
      </a>
    {% endimage %}
  </div>
</div>
