<ul class="menu_ul">
  <li class="menu_li"><a href="{{ path('news_index') }}" class="menu_a">News</a></li>
  <li class="menu_li"><a href="{{ path('dates_index') }}" class="menu_a">Dates</a></li>
  <li class="menu_li"><a href="{{ path('media_index') }}" class="menu_a">Media</a></li>
  <li class="menu_li"><a href="#" class="menu_a">Contact</a></li>
</ul>
