<ul class="menu_ul col-xs-12">
  <li class="menu_li col-xs-3"><h5><a href="{{ path('news_index') }}" class="menu_a">NEWS</a></h5></li>
  <li class="menu_li col-xs-3"><h5><a href="{{ path('date_index') }}" class="menu_a">DATES</a></h5></li>
  <li class="menu_li col-xs-3"><h5><a href="{{ path('media_index') }}" class="menu_a">MUSIQUE</a></h5></li>
  <li class="menu_li col-xs-3"><h5><a href="{{ path('subscription_index') }}" class="menu_a">S'ABONNER</a></h5></li>
</ul>
